<div id="header" class="card">
  <div class="leftside">
    {% assign header = site.data.header %}
    <div class="name">{{ header.name }}</div>
    <div class="roles">
      {% for role in header.roles %}
      <span>{{ role }}</span>
      {% endfor %}
    </div>
  </div>
  <div class="rightside">
    <!-- <div class="link-block place">
      <span class="material-icons">location_city</span>
      <abbr title="Этот город самый лучший город на Земле">Москва</abbr>
    </div> -->
    <div class="link-block zodiac">
      <img src="sagittarius.svg" style="height: 16px;">
      <span title="Да, и горжусь этим">Стрелец</span>
    </div>
    {% for link_block in header.link_blocks %}
    <div class="link-block {{ link_block.id }}">
      {% if link_block.icon %}
      <span class="material-icons">{{ link_block.icon }}</span>
      {% endif %}
      <header>{{ link_block.name }}</header>

      {% for link in link_block.list %}
      <div class="link">
	{% if link.icon %}
	<span class="material-icons">{{ link.icon }}</span>
	{% endif %}
	<span class="prefix">{{ link.prefix }}:</span>
	<span class="link">
	  <a href="{{ link.link }}">{{ link.text }}</a>
	</span>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
<div id="slogan" class="quote">
  <span title="Для тех, кто знает, что это значит">Mi serĉas scion, ne respondojn</span>
</div>
